* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url("../images/007.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 980px;
  font-family: "PT Sans", sans-serif;
  position: relative;
}
.header .wrapper {
  width: 100%;
  z-index: 10;
}
.header .wrapper .inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header .wrapper .inner .logo .nav__menu-logo {
  color: #fff;
  font-size: 30px;
  text-shadow: -1px 1px 0px #000;
  transition: all 0.2s;
}
.header .wrapper .inner .logo .nav__menu-logo:hover {
  color: #1ba6e6;
}
.header .wrapper .inner .logo .nav__menu-logo:hover span {
  color: #fff;
}
.header .wrapper .inner .logo .nav__menu-logo span {
  color: #1ba6e6;
  text-shadow: 1px 1px 0px #000;
}
.header .wrapper .inner .header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header .wrapper .inner .header__nav .nav__menu-link {
  display: inline-block;
  color: #fff;
  margin: 10px 20px;
  font-size: 20px;
}
.header .wrapper .inner .header__nav .nav__menu-link:hover {
  transition: all 0.3s;
  color: #2e90d5;
}

.scroll-mouse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.scroll-to {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: default;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: sasn-serif;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  animation: showElement;
  animation-duration: 1s;
  background-color: rgba(3, 3, 3, 0.9);
}

@keyframes showElement {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.hero .header__head {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 45px;
  padding-bottom: 10px;
  text-shadow: -1px 1px 1px #fff;
}
.hero .header__go {
  font-style: italic;
  font-size: 20px;
  color: #2e90d5;
  padding-bottom: 10px;
}
.hero h1 {
  font-size: 18px;
  word-spacing: 9px;
  letter-spacing: 2px;
}

.header {
  background-image: linear-gradient(to right, rgba(8, 8, 8, 0.6), rgba(0, 0, 0, 0.6)), url("../images/office-594132.png");
}

.main__mid .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.main__mid .wrapper .item__hero {
  text-align: center;
  padding-top: 30px;
}
.main__mid .wrapper .item__hero h1 {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 4px;
  text-shadow: 0px 0px 0px #000;
  font-weight: bold;
  color: #2c3e55;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  display: inline-block;
}
.main__mid .wrapper .item__hero h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  background-color: #595959;
  width: 100px;
  height: 2px;
}
.main__mid .wrapper .item__hero h1::before {
  content: "";
  position: absolute;
  background-color: #595959;
  width: 100px;
  height: 2px;
  bottom: -5px;
  left: -98px;
}
.main__mid .wrapper .mid__items {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.main__mid .wrapper .mid__items .item-img {
  position: relative;
  min-width: 300px;
  min-width: 300px;
  height: 300px;
  border: 7px solid #595959;
}
.main__mid .wrapper .mid__items .item-img img {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -25px;
  left: -25px;
}
.main__mid .wrapper .mid__items .item__about {
  width: 750px;
  word-spacing: 2px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
.main__mid .wrapper .mid__items .item__about p + p {
  padding-top: 20px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider .slick-arrow {
  opacity: 0;
}

.footer {
  padding: 10px;
  background-color: #bdbdbd;
}
.footer .wrapper__footer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.footer .wrapper__footer .footer__cop {
  font-size: 17px;
  font-style: italic;
}

footer {
  margin-top: 80px;
}