.footer{
   padding: 10px;
   background-color: rgb(189, 189, 189);
   .wrapper__footer{
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      .footer__cop{
         font-size: 17px;
         font-style: italic;
      }
    }
}
