$blue:#2e90d5;
$light:#fff;
$black:#000;
$grey:#595959;



@mixin header {
   font-size: 25px;
   text-transform: uppercase;
   display: inline-block;
   padding: 6px 30px;
   border-bottom: 4px solid transparent;
border-image: linear-gradient(1deg, #000 25%, rgba(3, 176, 255, 1) 26%,rgba(3, 176, 255, 1) 74%, #000 75%, #000 100%);
-moz-border-image: -moz-linear-gradient(1deg, #000 25%, rgba(3, 176, 255, 1) 26%,rgba(3, 176, 255, 1) 70%, #000 71%, #000 100%);
-webkit-border-image: -webkit-linear-gradient(1deg, #000 25%, rgba(3, 176, 255, 1) 26%,rgba(3, 176, 255, 1) 70%, #000 71%, #000 100%);
border-image-slice: 1;
}
@mixin text {
   width: 800px;
   margin: 0 auto;
   color: $grey;
   font-size: 14px;
   line-height: 16px;
}
@mixin icon {
   font-size: 25px;
   margin-top: 40px;
   display: inline-block;
   padding: 35px;
   background-color: $blue;
   border-radius: 50%;
   color: $light;
}
@mixin h4 {
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   display: block;
   margin-top: 25px;
   margin-bottom: 25px;
}





*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
}

@import "head";
@import "top";
@import "mid";
@import "bottom";
@import "form";
@import "footer";
