$blue:#2e90d5;
$light:#fff;
$black:#000;
$grey:#595959;



@mixin header {
   font-size: 25px;
   text-transform: uppercase;
   display: inline-block;
   padding: 6px 30px;
   border-bottom: 3px solid $black;
}
@mixin text {
   width: 800px;
   margin: 0 auto;
   color: $grey;
   font-size: 14px;
   line-height: 16px;
}
@mixin icon {
   font-size: 25px;
   margin-top: 40px;
   display: inline-block;
   padding: 35px;
   background-color: $blue;
   border-radius: 50%;
   color: $light;
}
@mixin h4 {
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   display: block;
   margin-top: 25px;
   margin-bottom: 25px;
}

*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
}

@import "head";
        .header{
           background-image: linear-gradient(to top, rgba(8, 8, 8, 0.3), rgba(0, 0, 0, 0.7)), url('../images/2017-04-10-17-58-15.jpg');
      }
@import "form";
@import "footer";


.cont__links{
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 10px;
   padding-top: 10px;
   background-color: rgb(226, 225, 225);
   a{
      margin: 0 15px;
      font-size: 30px;
      cursor: pointer;
      transition: all 1s linear;
      display: block;
      &:hover{
         transform: scale(1.15);
      }
      &:nth-child(1){
         color: rgba(76,117,163 ,1 );
      }
      &:nth-child(2){
         background: linear-gradient(45deg, #405DE6 10%, #5851DB 20%, #833AB4 30%, #C13584 50%, #87fb02);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
      &:nth-child(3){
         color: rgba(60, 90, 153, 1);
      }
      &:nth-child(4){
         color: rgb(29,161,242);
      }
      &:nth-child(5){
         color: 	rgb(100,65,164);
      }
      &:nth-child(6){
         color: rgb(114, 137, 218);
      }
   }
}

