$blue:#2e90d5;
$light:#fff;
$black:#000;
$grey:#595959;



@mixin header {
   font-size: 25px;
   text-transform: uppercase;
   display: inline-block;
   padding: 6px 30px;
   border-bottom: 3px solid $black;
}
@mixin text {
   width: 800px;
   margin: 0 auto;
   color: $grey;
   font-size: 14px;
   line-height: 16px;
}
@mixin icon {
   font-size: 25px;
   margin-top: 40px;
   display: inline-block;
   padding: 35px;
   background-color: $blue;
   border-radius: 50%;
   color: $light;
}
@mixin h4 {
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   display: block;
   margin-top: 25px;
   margin-bottom: 25px;
}





*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
}

@import "head";
   .header{
      background-image: linear-gradient(to right, rgba(8, 8, 8, 0.6), rgba(0, 0, 0, 0.6)), url('../images/office-594132.png');
   }

.main__mid{
   .wrapper{
      max-width: 1200px;
      margin: 0 auto;
      .item__hero{
         text-align: center;
         padding-top: 30px;
         h1{
            text-transform: uppercase;
            font-size: 35px;
            letter-spacing: 4px;
            text-shadow: 0px 0px 0px #000;
            font-weight: bold;
            color: rgba(44, 62, 85, 1);
            font-family: 'Source Sans Pro', sans-serif;
            position: relative;
            display: inline-block;
            &::after{
               content: "";
              position: absolute;
              bottom: -5px;
               background-color: #595959;
               width: 100px;
               height: 2px;             
            }
            &::before{
               content: "";
              position: absolute;
               background-color: #595959;
               width: 100px;
               height: 2px;   
               bottom: -5px;   
               left: -98px;          
            }
         }
      }
      .mid__items{
         margin-top: 40px;
         display: flex;
         justify-content: space-around;
         .item-img{
            position: relative;
            min-width: 300px;
            min-width: 300px;
            height: 300px;
            border: 7px solid $grey;
            img{
               width: 300px;
               height: 300px;
               position: absolute;
               bottom: -25px;
               left: -25px;
            }
         }
         .item__about{
            width: 750px;
            word-spacing: 2px;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            p + p{
               padding-top: 20px;
            }
         }
      }
   }
}

.slick-list{
   overflow: hidden;
}

.slick-track{
   display: flex;
}

.slider .slick-arrow{
   opacity: 0;
}

@import "footer.scss";
   footer{
      margin-top: 80px;
   }